body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f0;
    color: #800040;
    text-align: center;
}

button {
    background-color: #ff66b2;
    border: 2px solid #ff3385;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff3385;
    transform: scale(1.05);
}

h1 {
    font-size: 40px;
    color: #ff1a75;
}

#gioco {
    margin-top: 20px;
    font-size: 20px;
}
