body {
  background-color: #ffe6f0;
  font-family: Arial, sans-serif;
  color: #d147a3;
  text-align:center;
}
button {
  background-color: #ff99cc;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}
input, select {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #d147a3;
}
.gioco { display:none; }
.cuore { color:red; font-size:20px; }
